# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Describe the components of a Data Scientist's toolkit and list various tool categories.
+ 
List examples of open-source tools used in data science
+ 
Describe the relevant features of open-source tool
+ .
List examples of commercial and cloud-based data science tools.

Some of the popular languages that Data Scientists use are:
1. R
2. Jilia
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. NamPy
2. Matplotlib
3. Pandas

|Data Science Tools|
| -----------------| 
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Diana Hlyshchuk